@model Storyboard_App.Models.Project
@{
    ViewBag.Title = "DisplayProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name</h2>

<div>
    <button class="btn btn-primary new-page" data-name="@Model.Name">New Page</button>
</div>
<br/>
<div>
<button class="btn btn-primary edit-project" data-id="@Model.Id">Edit</button>
</div>
<br/>
@{ 
    var tempProject = @Model;
}
@Html.ActionLink("Order Pages", "OrderPages", "Projects", new { project = Model.Name }, new {@class="btn btn-primary edit-project"})
<br />

@Html.Partial("_DialogPartial")
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Pages
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Pages == null || Model.Pages.Count <= 0)
        {
            <tr><td>No Pages</td></tr>
        }
        else
        {
            foreach (var page in Model.Pages.OrderBy(p=>p.Num))
            {
                <tr>
                    <td>
                        @Html.ActionLink(page.Id.ToString(), "DisplayPage", "Projects", new { project = @Model.Name, page = page.Num }, null)
                    </td>
                </tr>
            }
        }        
    </tbody>
</table>
<br />@Model.Description
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}