@model Storyboard_App.Models.Project
@{
    ViewBag.Title = "DisplayProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<p>
    @Html.ActionLink("New Page", "NewPage", "Projects", new { project = @Model.Name }, new { @class = "btn btn-primary" })
    @*@Html.ActionLink("Edit Project", "EditProject", "Projects", new { id = @Model.Id }, new { @class = "btn btn-primary" })*@
</p>
<!-- modal form-->
<div>
    <button class="btn btn-primary edit-project" data-id="@Model.Id">Edit</button>

</div>
<!--this is the modal definition-->
<div class="modal fade in" id="edit-project">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Edit Project</h3>
            </div>
            <div class="modal-body">
                <div id="edit-project-container">
                </div>
            </div>
        </div> 
    </div>
</div>

<ul>
    @if (Model.Pages == null)
    {
        <text>No Pages</text>
    }
    else
    {
        foreach (var page in Model.Pages)
        {
            <li>
                @Html.ActionLink(page.Num.ToString(), "EditPage", "Projects", new { id = page.Id, project = @Model }, null)
            </li>
        }
    }
</ul>
<br />@Model.Description
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/site-js")
