@model Storyboard_App.Models.Page
@{  WebImage photo = null;
    var newFileName = "";
    var imagePath = "";

    if (IsPost)
    {
        photo = WebImage.GetImageFromRequest();
        if (photo != null)
        {

            newFileName = Guid.NewGuid().ToString() + "_" +
        Path.GetFileName(photo.FileName);
            imagePath = @"Content\Images\" + newFileName;

            photo.Save(@"~\" + imagePath);
        }
    }
}
@using (Html.BeginForm("SavePage", "Projects", FormMethod.Post, new { id = "save-dialog" }))
{

    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.RoughSketch)
        @Html.TextBoxFor(m => m.RoughSketch, new { @class = "form-control", @type = "file"})
        @Html.ValidationMessageFor(m => m.RoughSketch)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NotesSketch)
        @Html.TextBoxFor(m => m.NotesSketch, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NotesSketch)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FinalSketch)
        @Html.TextBoxFor(m => m.FinalSketch, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FinalSketch)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "multi-line-textbox" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Script)
        @Html.TextAreaFor(m => m.Script, new { @class = "multi-line-textbox" })
        @Html.ValidationMessageFor(m => m.Script)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Num)
        @Html.TextBoxFor(m => m.Num, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Num)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ProjectId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
