@model Storyboard_App.Models.Page
@{ 
    string RSketch="";
    if (Model.RoughSketch != "")
    {
        RSketch = Model.RoughSketch;
    }
    if (IsPost)
    {
        if (RSketch != Model.RoughSketch)
        {
            if (File.Exists("~/" + RSketch))
            {
                File.Delete("~/" + RSketch);
            }
        }
    }
}
<div id="picture-form-container1">
    @Html.LabelFor(m => m.RoughSketch)
    @Html.Partial("_ImageUpload")
</div>
@using (Html.BeginForm("SavePage", "Projects", FormMethod.Post, new { id = "save-dialog" }))
{
    @Html.ValidationSummary(true, "Please fix the following errors.")
    <div class="form-group">
        @Html.LabelFor(m => m.NotesSketch)
        @Html.TextBoxFor(m => m.NotesSketch, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.NotesSketch)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FinalSketch)
        @Html.TextBoxFor(m => m.FinalSketch, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FinalSketch)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "multi-line-textbox" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Script)
        @Html.TextAreaFor(m => m.Script, new { @class = "multi-line-textbox" })
        @Html.ValidationMessageFor(m => m.Script)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Num)
        @Html.TextBoxFor(m => m.Num, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Num)
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.ProjectId)
    @Html.HiddenFor(m => m.RoughSketch, new { id = "picture1" })
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
